.translateBt
{
  -fx-border-width: 1px;
  -fx-border-color: #000000;
  -fx-border-style: solid;
  -fx-border-radius: 13 13 13 13;
  -fx-background-color : #8E9EA8;
  -fx-background-radius : 13 13 13 13;
  -fx-text-fill: #000000;
}

.translateBt:hover
{
  -fx-border-width: 2px;
  -fx-border-color: #FFFFFF;
  -fx-border-style: solid;
  -fx-border-radius: 13 13 13 13;
  -fx-background-color : #525D66;
  -fx-background-radius : 13 13 13 13;
  -fx-text-fill: #FFFFFF;
  -fx-scale-x: 0.9;
  -fx-scale-y: 0.9;
}
.translateBt:pressed
{
  -fx-border-width: 2px;
  -fx-border-color: #FFFFFF;
  -fx-border-style: solid;
  -fx-border-radius: 13 13 13 13;
  -fx-background-color : #525D66;
  -fx-background-radius : 13 13 13 13;
  -fx-text-fill: #B2BBC2;
  -fx-scale-x: 1;
  -fx-scale-y: 1;
}

.paneTranslate
{
   -fx-background-color : #CDD0D5;
}

.paneLanguage
{
  -fx-background-color : #FFFFFF;
  -fx-background-radius : 12 12 0 0;
  -fx-border-width: 2px;
  -fx-border-radius: 12 12 0 0;
  -fx-border-color: #000000;
  -fx-border-style: solid;
}

.swapButton
{
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 0 0 0 0;
}

.inputText
{
  -fx-border-width: 2px;
  -fx-border-color: #000000;
  -fx-border-style: solid;
  -fx-border-radius: 5;
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 5;
}

.outputText
{
  -fx-border-width: 2px;
  -fx-border-color: #000000;
  -fx-border-style: solid;
  -fx-border-radius: 0 0 0 0;
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 0 0 0 0;
}

.home
{
  -fx-background-color: #626A74;
  -fx-background-radius: 0;
  -fx-text-fill: #D9D9D9;
  -fx-font-size: 27;
}

.home:hover
{
  -fx-background-color: #CDD0D5;
  -fx-text-fill: #181717;
  -fx-font-size: 31;
}

.home:pressed
{
  -fx-background-color: #CDD0D5;
  -fx-text-fill: #D9D9D9;
  -fx-font-size: 31;
}

.exit
{
  -fx-background-color: #626A74;
  -fx-text-fill: #000000;
}

.exit:hover
{
  -fx-background-color: #626A74;
  -fx-text-fill: #FFFFFF;
  -fx-scale-x: 0.9;
  -fx-scale-y: 0.9;
}

.exit:pressed
{
  -fx-background-color: #626A74;
  -fx-text-fill: #FFFFFF;
}

.game1Button
{
  -fx-border-width: 1px;
  -fx-border-color: #000000;
  -fx-border-style: solid;
  -fx-border-radius: 0 0 5 5;
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 0 0 5 5;
}

.imageButton
{
  -fx-background-color: #CDD0D5;
}

.paneButton:hover
{
  -fx-scale-x: 0.9;
  -fx-scale-y: 0.9;
}

.textField
{
  -fx-border-width: 1px;
  -fx-border-radius: 10;
  -fx-border-style: solid;
  -fx-border-color: #000000;
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 10;
}

.textField2
{
  -fx-border-width: 1px;
  -fx-border-radius: 6;
  -fx-border-style: solid;
  -fx-border-color: #000000;
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 6;
}

.listView
{
  -fx-border-width: 1px;
  -fx-border-radius: 5;
  -fx-border-style: solid;
  -fx-border-color: #000000;
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 5;
}

.buttonSearch
{
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 20;
  -fx-border-radius: 20;
  -fx-border-width: 1;
  -fx-border-color: #000000;
}

.buttonSearch:hover
{
  -fx-background-color: #BEC5CA;
  -fx-background-radius: 20;
  -fx-border-radius: 20;
  -fx-border-width: 1;
  -fx-border-color: #000000;
  -fx-scale-x: 0.9;
  -fx-scale-y: 0.9;
}

.buttonSearch:pressed
{
  -fx-background-color: #BEC5CA;
  -fx-background-radius: 20;
  -fx-border-radius: 20;
  -fx-border-width: 1;
  -fx-border-color: #000000;
  -fx-scale-x: 1;
   -fx-scale-y: 1;
}

.start
{
  -fx-background-radius: 60;
  -fx-background-color: #FFFFFF;
}

.start:hover
{
  -fx-scale-x: 0.9;
  -fx-scale-y: 0.9;
}